@{
    ViewData["Title"] = ViewData["Title"];
    UserInformation thisUser = new UserInformation();
    List<int> AvailableYears = new List<int>();
    for(int x = 0; x < 4; x++)
    {
        AvailableYears.Add(DateTime.Now.Year + x);
    }
    if(ViewBag.isAuthorized == 1)
    {
        thisUser = ViewBag.thisUser;
    }
}

<div style="padding-left: 20px; overflow:hidden">
    <div class="row">
        <div class="col">
            <h2>@thisUser.PrimaryInstitution.InstitutionName</h2>
            <div>
                <select id="yearSel" class="custom-select-sm" style="margin-top: 25px; margin-bottom: 25px;" onchange="">
                  <option selected>Select Year</option>
                    @foreach(int year in AvailableYears)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <select id="qSel" class="custom-select-sm" style="margin-top: 25px; margin-bottom: 25px;" onchange="">
                  <option selected>Select Quarter</option>
                  <option value="1">Winter</option>
                  <option value="2">Spring</option>
                  <option value="3">Summer</option>
                  <option value="4">Fall</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div style="position:absolute; right: 30px; bottom: 10px;">
                <label for="formControlRange">View Size : </label>
                <input type="range" id="viewSizeRangeSlider" class="form-control-range-sm" step="1" max="5" min="1" id="formControlRange" onchange="renderCalendar()">
            </div>
        </div>
    </div>
    <div style="height: calc(100vh - 200px); width:calc(100% + 20px)" class="row">
        <div class="col">
            <div id='calendar'></div>
        </div>
@*        <div class="col">
            <div class="row">
                <p>hello</p>
            </div>
        </div>*@
    </div>
</div>

<link rel="stylesheet" href="libCal/main.css" />
<script src="libCal/main.js"></script>
<script src="js/app.js"></script>
<script src="js/calendar.js"></script>
<style>
body {
     overflow: hidden;
}
.fc-timegrid-slot {
    height: 0px!important;
    border-bottom: 0 !important;
}
.fc-v-event {
    background-color: rgba(23, 34, 54,.4);
}
</style>
<script>
let caldata = {
    firstName: "@thisUser.FirstName",
    lastName: "@thisUser.LastName",
    userAccountID : "@thisUser.AccountHash",
    events : `@ViewBag.institutionEvents`
}
document.addEventListener('DOMContentLoaded', function () {
    fetch(`/home/fetchEvents?institutionID=@thisUser.PrimaryInstitutionId`).then(response => response.json()).then((data) => {
        console.log(data);
        caldata.events = data;
        newCalender = new CalenderApp(caldata);
    });
});
</script>