@using Newtonsoft.Json
@{
    ViewData["Title"] = ViewData["Title"];
    UserInformation thisUser = new UserInformation();
    List<int> AvailableYears = new List<int>();
    for(int x = 0; x < 4; x++)
    {
        AvailableYears.Add(DateTime.Now.Year + x);
    }
    if(ViewBag.isAuthorized == 1)
    {
        thisUser = ViewBag.thisUser;
    }
}
<style>

</style>

<div style="padding-left: 20px; overflow:hidden; max-width: 100%">
    <div class="row">
        <div class="col">
            <h2>@thisUser.PrimaryInstitution.InstitutionName</h2>
            <div>
                <span>
                    <select id="dptSel" class="custom-select-sm" style="margin-top: 25px; margin-bottom: 25px;" onchange="fetchNewCalendar(this)">
                      <option value="@thisUser.Department.DepartmentId" selected>@thisUser.Department.DepartmentName</option>
                    </select>
                    <select id="yearSel" class="custom-select-sm" style="margin-top: 25px; margin-bottom: 25px;" onchange="fetchNewCalendar(this)">
                      <option selected>Select Year</option>
                        @foreach(int year in AvailableYears)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <select id="qSel" class="custom-select-sm" style="margin-top: 25px; margin-bottom: 25px;" onchange="fetchNewCalendar(this)">
                      <option selected>Select Quarter</option>
                      <option value="1">Winter</option>
                      <option value="2">Spring</option>
                      <option value="3">Summer</option>
                      <option value="4">Fall</option>
                    </select>
                    <select id="building" class="custom-select-sm" style="margin-bottom: 25px;" onchange="fetchNewCalendar(this)">
                      <option selected>Select Building</option>
                      <option value="J">J</option>
                    </select>
                    <select id="room" class="custom-select-sm" style="margin-bottom: 25px;" onchange="fetchNewCalendar(this)">
                      <option selected>Select Room</option>
                      <option value="108">108</option>
                      <option value="111">111</option>
                      <option value="112">112</option>
                      <option value="114">114</option>
                    </select>
                </span>
                <div style="">
                    <label for="formControlRange" style="position:relative; bottom: 3px">Scale : </label>
                <input type="range" id="viewSizeRangeSlider" class="form-control-range-sm" step="1" max="5" min="1" value="4" onchange="renderCalendar()">
            </div>
            </div>
        </div>
    </div>
    <div style="height: calc(100vh - 200px);" class="row">
        <div class="col-lg-6">
            <div id='calendar'></div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="container">
                    <p>This Room's Event:</p>
                </div>
                <div class="container">
                    <div id="filteredEvents"></div>
                </div>
                <div class="container">
                    <p>All Events:</p>
                </div>
                <div class="container">
                    <div id="allEvents"></div>
                </div>
            </div>
        </div>
       <div class="col-lg-2" style="border-left: solid 1px black">
            <div class="row">
                <div class="container">
                    <p>Program Courses</p>
                </div>
                <div class="container">
                    <div id="EventTemplates"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/calendarAppDefaults.css" />
<link rel="stylesheet" href="/libCal/main.css" />
<script src="/libCal/main.js"></script>
<script src="/js/app.js"></script>
<script src="/js/calendar.js"></script>
<script src="/js/popUpRenderer.js"></script>
<script src="/js/createDraggableElement.js"></script>
<script src="/js/appHelpers.js"></script>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@@babel/standalone/babel.min.js"></script>
<script>
let caldata = {
    firstName: "@thisUser.FirstName",
    lastName: "@thisUser.LastName",
    userAccountID: "@thisUser.AccountHash",
    userAccountLevel: "@thisUser.AccountFlag",
    EventTemplates : JSON.parse('@Html.Raw(ViewBag.CourseOfferingsTemplates)')
}
let data = {
    message : "Hello World"
};
</script>
<script src="/js/Components.jsx" type="text/babel"></script>
<script src="/js/main.jsx" type="text/babel"></script>