@model UserInformation
@{
    ProgramOfferings _f = null;
    List<CourseOfferingsTemplates> courses = new List<CourseOfferingsTemplates>();
    getRole role = new getRole();
}

<div style="padding-left: 20px; overflow:hidden; max-width: 100%;">
    <div class="row">
        <div class="col">
<select id="programID" style="margin-bottom: 10px" onchange="manageProgram.fetchEventTemplates(this)">
        @foreach (ProgramOfferings program in Model.Department.ProgramOfferings)
        {
            @if(_f == null) {
                _f = program;
                courses = _f.CourseOfferingsTemplates.ToList();
                courses.Sort((a, b) => a.QuarterNumber.CompareTo(b.QuarterNumber));
            }
            <option value="@program.Id">@program.ProgramName</option>
        }
        @* <option value="addNewProgram">Add a New Program</option> *@
    </select>
    @if(courses != null){
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Quarter</th>
                    <th>Course Prefix</th>
                    <th>Course Number</th>
                    <th>Title</th>
                    <th>Component</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody id="mangeProgramTableBody">
                @foreach(CourseOfferingsTemplates course in courses){
                <tr id="tableRow-@course.Id">
                    <td><input data="QuarterNumber" type="number" min="1" max="8" value="@course.QuarterNumber"></td>
                    <td><select data="CoursePrefix">
                        <option value="@course.CoursePrefix">@course.CoursePrefix</option>
                        @foreach(ValidPrefixes prefix in Model.Department.ValidPrefixes){
                            <option value="@prefix.Prefix">@prefix.Prefix</option>
                        }
                    </select></td>
                    <td><input data="CourseNumber" type="text" value="@course.CourseNumber"></td>
                    <td><input data="Title" type="text" value="@course.Title"></td>
                    <td><select data="Component">
                        <option value="@course.Component">@course.Component</option>
                        <option value="Lecture">Lecture</option>
                        <option value="Lab">Lab</option>
                        <option value="Ind Study"></option>
                    </select></td>
                    <td><input data="CourseCredits" type="text" value="@course.Credits"></td>
                    <td><a id="@course.Id" href="#" onclick="manageProgram.save('tableRow-@course.Id')">Save</a></td> 
                    <td><a href="#" class="text-danger" onclick="manageProgram.delete('@course.Id')">Delete</a></td>
                </tr>
                }
                <tr id="tableRow-NEW">
                    <td><input data="QuarterNumber" type="number" min="1" max="8" placeholder="1"></td>
                    <td><select data="CoursePrefix">
                        <@foreach(ValidPrefixes prefix in Model.Department.ValidPrefixes){
                            <option value="@prefix.Prefix">@prefix.Prefix</option>
                        }>
                    </select></td>
                    <td><input data="CourseNumber" type="number" placeholder="226"></td>
                    <td><input data="Title" type="text" placeholder="Computer Programming IV"></td>
                    <td><select data="Component">
                        <option value="Lecture">Lecture</option>
                        <option value="Lab">Lab</option>
                        <option value="Ind Study"></option>
                    </select></td>
                    <td><input data="CourseCredits" type="text" placeholder="5"></td>
                    <td><a id="NULL" href="#" onclick="manageProgram.save('tableRow-NEW')">Save</a></td> 
                </tr>
            </tbody>
        </table>
        }
    </div>
    <div class="col">
        <h3>Users registered to your department</h3>
        <table class="table table-responsive">
            <thead>
                <th>Instructor Name</th>
                <th>Instructor Email</th>
                <th>Department Name</th>
                <th>Role</th>
                <th>Save</th>
            </thead>
            <tbody>
                @foreach (UserInformation user in ViewBag.userList)
                {
                    @if(user.DepartmentId == Model.DepartmentId && user.AccountFlag > 0 && user.AccountHash != Model.AccountHash){
                        <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.PrimaryEmail</td>
                        <td>
                            <select id="dptId_@user.EventsAuthorId">
                                <option value="null">Remove from department</option>
                                <option value="@Model.DepartmentId" selected>@Model.Department.DepartmentName</option>
                            </select>
                        </td>
                        <td>
                            <select id="role_@user.EventsAuthorId">
                                <option value="@user.AccountFlag">@role.role(user.AccountFlag)</option>
                                <option value="4">Deactivate</option>
                                <option value = "3">Instructor</option>
                                @if(Model.AccountFlag < 2){
                                    <option value="2">Admin Assistant</option>
                                    <option value="1">Admin</option>
                                }
                            </select>
                        </td>
                        <td><a href="#" onclick="saveUser('@user.EventsAuthorId')">Save</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>

        <h3>Not registered users</h3>
        <table class="table table-responsive">
            <thead>
                <th>Instructor Name</th>
                <th>Instructor Email</th>
                <th>Department Name</th>
                <th>Role</th>
                <th>Save</th>
            </thead>
            <tbody>
                @foreach (UserInformation user in ViewBag.userList)
                {
                    @if(user.DepartmentId == null && user.AccountHash != Model.AccountHash){
                        <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.PrimaryEmail</td>
                        <td>
                            <select id="dptId_@user.EventsAuthorId">
                                <option value="@Model.DepartmentId">@Model.Department.DepartmentName</option>
                                <option value="null" selected>Not set</option>
                            </select>
                        </td>
                        <td>
                            <select id="role_@user.EventsAuthorId">
                                <option value="@user.AccountFlag">@role.role(user.AccountFlag)</option>
                                <option value = "3">Instructor</option>
                                @if(Model.AccountFlag < 2){
                                    <option value="2">Admin Assistant</option>
                                    <option value="1">Admin</option>
                                }
                            </select>
                        </td>
                        <td><a href="#" onclick="saveUser('@user.EventsAuthorId')">Save</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/manageProgram.js"></script>
<script>
    window.onload = function(){
    if(!localStorage.getItem("programID")) localStorage.setItem("programID", document.getElementById("programID").value);
    document.getElementById("programID").value = localStorage.getItem("programID");
    manageProgram.fetchEventTemplates(document.getElementById("programID"))
}
</script>